*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    /* border:1px solid grey; */
}
/* General Style */ 
body{
    line-height:2;
}
section{
    padding:4% 0;
}
h2{
    text-transform:uppercase;
    font-size:20px;
}
a{
    text-decoration:none;
    color:#fff;
}
hr{
    width:25%;
    border-bottom:2px solid black;
}
/* Helper Classes */
div.txt{
    width:15%;
    margin:2% 1%;
}
.flexContainer{
    display:flex;
    justify-content: flex-end;
}
.left{
    text-align:right;
}
.left hr{
    display:inline-block;
    text-align:right;
    margin-right:0;
}
/* Header Section Styles*/
header{
    background-color:#6dccaa;
    color:#fff;
    padding-bottom:2%;
}
.mobShow{
    display:none;
}
nav{
    display:flex;
    justify-content:space-between;
}
.links{
    width:30%;
    display:flex;
    justify-content: space-around;
}
.leftNav{
    margin-left:3%;
}
.middleHeader{
    display:flex;
    justify-content:center;
    align-items:center;
    height:60vh;
}
/*About Section Styles*/
.topAbout{
    display:flex;
}
.topAbout div{
    width:50%;
}
.bottomAbout{
    display:flex;
}
.bottomAbout div{
    width:50%;
}


/*Food Section Styles*/
#food{
    background-color:#ffcf3e;
    display:flex;
    align-items:center;
    justify-content: center;
}
/* Footer Styles */
.productBottom, .productMiddle, .productTop{
    display:flex;
}
.productBottom div, .productMiddle div, .productTop div{
    width:50%;
}

/*Responsive Styles*/
@media screen and (max-width: 940px){
    /*general styles*/

    /*header*/
.mobHide{
    display:none;
}
.mobShow{
    display:block;
}
}